<% include ./partials/header %>

 <div class="container">
     <header class="jumbotron">
         <div class="container">
            <h4 style="font-weight: bold; text-align: center; padding-top: 70px">Sobre o Sneakr.me</h4>
            <p style="font-weight: bold; text-align: center; padding-top: 30px">O Sneakr.me é um comparador de preços minimalista, eficiente e rápido destinado exclusivamente para o mercado de sneakers. Nosso sistema filtra lojas para otimizar a experiência de
            usuário e sempre mostra os menores preços disponíveis em cada loja por tamanho do sneaker. O Sneakr.me possui um sistema de lojas verificadas (<i class="fa fa-check-circle" aria-hidden="true"></i>) 
            que pretende garantir produtos originais ao menor preço possível, contudo, existem lojas não verificadas que também podem ser acessadas pelo sistema da plataforma. Nossa renda é composta
            exclusivamente de dados de usuário, anúncios e <a href="/turbo">Lojas Turbo.</a> O código-fonte de indexagem de produtos é MIT-licensed e open-source, sendo permitido seu uso em sites fora do
            Sneakr.me com os devidos créditos. Você pode encontrá-lo no <a href="#"> <i class="fa fa-github" aria-hidden="true"></i> GitHub.</a> Nós utilizamos seus dados para otimizar sua experiência, 
            e ao utilizar o serviço você concorda com nossos <a href="#">Termos de uso</a> e de <a href="#">Privacidade.</a> É útil lê-los.</p>

            <h4 style="font-weight: bold; text-align: center; padding-top: 30px">Links úteis</h4>
            <h5 style="font-weight: bold; text-align: center; padding-top: 30px"><a href="#"> <i class="fa fa-github" aria-hidden="true"></i> GitHub</a></h5>
            <h5 style="font-weight: bold; text-align: center; padding-top: 30px"><a href=""> <i class="fa fa-book" aria-hidden="true"></i> Termos de Uso</a></h5>
            <h5 style="font-weight: bold; text-align: center; padding-top: 30px"><a href=""> <i class="fa fa-exclamation-circle" aria-hidden="true"></i>  Termos de Privacidade</a></h5>
         </div>
     </header>
</div>


<% include ./partials/footer %>