<% include ./partials/header %>

 <div class="container">
     <header class="jumbotron">
         <div class="container">
            <h4 style="font-weight: bold; text-align: center; padding-top: 30px; padding-top: 70px">FAQ</h4>
            <h4 style="font-weight: bold; padding-top: 30px">O que é o Sneakr.me?</h4>
            <p>O Sneakr.me é um comparador de preços minimalista, eficiente e rápido destinado exclusivamente para o mercado de sneakers.
            Sem placebo loadings, sem besteiras ou sistemas de compra/venda. Nosso motto é: "Ache a melhor loja e compre por mais barato."</p>

            <h4 style="font-weight: bold; padding-top: 30px">Todos as lojas vendem produtos originais?</h4>
            <p>Nos esforçamos ao máximo para filtrar réplicas de produtos, porém é sempre mais seguro comprar em lojas verificadas (<i class="fa fa-check-circle" aria-hidden="true"></i>).
            Lojas verificadas são autenticadas pelo próprio Sneakr.me (se você tem uma loja e deseja que esta seja verificada, envie um e-mail para verify@sneakr.me).</p>

            <h4 style="font-weight: bold; padding-top: 30px">Como geramos renda?</h4>
            <p>Como não temos nenhum sistema de venda online, trabalhamos apenas com dados de usuário (leia os <a href="#">Termos de Uso</a>), 
            anúncios e Lojas Turbo (para lojistas). Saiba como ser um cliente Turbo <a href="#">aqui</a>.</p>
            <h4 style="font-weight: bold; padding-top: 30px">O que eu procuro aqui é enviado para algum lugar?</h4>
            <p>Sim, nós utilizamos sistemas de tracking e seus dados para otimizar sua experiência de usuário. Ao utilizar o serviço, você concorda com os <a href="#">Termos de Privacidade</a> e <a href="#">Termos de Uso.</a></p>
         </div>
     </header>
</div>


<% include ./partials/footer %>